:root{
  --main-color:#F8B319;
}
.language-switcher {
          position: relative;
          display: inline-block;
        }
        .dropdowninput {
          width: 100%;
          padding: 8px;
          border: 1px solid var(--main-color) ;
          border-radius: 4px;
          background-color:black;
          outline: none;
        }
        .dropdowninput::placeholder{
         color:var(--main-color);
        }
        .language-list {
          max-height: 200px;
          overflow-y: auto;
        }

        .language-list button {
          display: block;
          width: 100%;
          padding:10px 0;
          background-color: black;
          text-align: left;
          border: none;
          cursor: pointer;
        }

        .language-list button:hover {
          background-color: var(--main-color);
        }

        p {
          text-align: center;
          color: #999;
        }
                  .language-switcher {
          position: relative;
          display: inline-block;
        }

        .language-switcher-button {
          background-color:black;
            border: 2px solid #F8B319;
          cursor: pointer;
          padding: 8px;
          font-size: 16px;
          margin-left: 10px;
        }

        .dropdownss {
          position: absolute;
          background-color: black;
          border: 1px solid #F8B319;
          top: 120%;
          left: 0;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
          z-index: 100000;
          width: max-content;
          text-align: center;
        }

        .dropdownss button {
          display: block;
          width: 100%;
          padding: 8px;
          background-color:black;
          text-align: left;
          border: none;
          cursor: pointer;
          margin-left: 0px;
        }

        .dropdown button:hover {
          background-color:#F8B319;
        }